# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
venv/
.venv/
ENV/
env/

# IDE / Editor config files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
.DS_Store
Thumbs.db

# Project logs and DBs
*.log
instance/
.pytest_cache/
.mypy_cache/
